extends layout
block content
  h1= title
  if (toShow == null) 
    h2 No instance to update 
  else
  - let dogid = toShow._id
  - let dog_Name = toShow.dog_Name
  - let age = toShow.age
  - let price = toShow.price
  - let actionid = "/resource/dogs/" + dogid
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{dogid} 
  form(id='DogForm', action=actionid, method="PUT")
   div.form-group
    label.dogAttr(for='dog_Name') Dog Name
    input#dog_Name(type='text', name='dog_Name')
   div.form-group
    label.dogAttr(for='age') Dog age
    input#age(type='number', name='age')
   div.form-group
    label.dogAttr(for='price') Dog price
    input#price(type='number', name='price')
   input(type="submit")
  script.
    document.forms['DogForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
       method: 'PUT',
       body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
       return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
       alert("Save failed SytaxError: Unexpection token 'V', ..."+"{"+"error"+": Validation"+"l... is not valid JSON ")
       // TODO handle body
      }).catch((error) => {
       // TODO handle error
       alert("Save failed " + error )
      });
     });